In [1]:
#1 ques  Write a Python function to find the maximum and minimum numbers from a sequence
# of numbers. (Note: Do not use built-in functions.)
def find_max_min(lst):
    max_val = lst[0]
    min_val = lst[0]

    for i in lst:
        if i > max_val:
            max_val = i
        if i < min_val:
            min_val = i

    return max_val, min_val


nums = [int(x) for x in input("Enter numbers separated by space: ").split()]
result = find_max_min(nums)
print("Max and Min =", result)

Enter numbers separated by space: 10 20 440 50
Max and Min = (440, 10)

In [2]:
#2 ques Write a Python function that takes a positive integer and returns the sum of the cube of
# all the positive integers smaller than the specified number.
def sum_of_cubes(n):
    total = 0
    for i in range(1, n):
        total = total + i*i*i
    return total


num = int(input("Enter a number: "))
print("Sum of cubes =", sum_of_cubes(num))

Enter a number: 10
Sum of cubes = 2025

In [3]:
#3 ques Write a Python function to print 1 to n using recursion. (Note: Do not use loop)
def print_numbers(n):
    if n == 0:
        return
    print_numbers(n-1)
    print(n)


num = int(input("Enter value of n: "))
print_numbers(num)

Enter value of n: 5
1
2
3
4
5

In [4]:
#4 ques Write a recursive function to print Fibonacci series upto n terms
def fibonacci(n, a=0, b=1):
    if n <= 0:
        return
    print(a)
    fibonacci(n-1, b, a+b)


num = int(input("Enter number of terms: "))
fibonacci(num)

Enter number of terms: 7
0
1
1
2
3
5
8

In [5]:
#5 ques Write a lambda function to find volume of cone
import math

volume = lambda r, h: (1/3) * math.pi * r * r * h

r = float(input("Enter radius: "))
h = float(input("Enter height: "))

print("Volume of cone =", volume(r, h))

Enter radius: 6
Enter height: 8
Volume of cone = 301.59289474462014

In [6]:
#6 ques Write a lambda function which gives tuple of max and min from a list.
# Sample input: [10, 6, 8, 90, 12, 56]
# Sample output: (90,6)
nums = [int(x) for x in input("Enter numbers separated by space: ").split()]

result = lambda x: (max(x), min(x))

print(result(nums))

Enter numbers separated by space: 10 6 8 90 12 56
(90, 6)

In [7]:
#7 ques Write functions to explain the mentioned concepts:
# a. Keyword argument
def greet(name, age):
    print("Name:", name)
    print("Age:", age)

greet(age=20, name="Rahul")
# b. Default argument
def greet(name="Student"):
    print("Hello", name)

greet()
greet("Aman")
# c. Variable-length argument
def add(*nums):
    total = 0
    for i in nums:
        total = total + i
    print("Sum =", total)

add(2, 3, 4)
add(10, 20)

Name: Rahul
Age: 20
Hello Student
Hello Aman
Sum = 9
Sum = 30

In [8]:
#8 ques Write a program to check whether all the values in a dictionary are the same or not using
# a lambda function.
d = {}

n = int(input("Enter number of items: "))

for i in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    d[key] = value

check = lambda x: len(set(x.values())) == 1

if check(d):
    print("All values are same")
else:
    print("Values are not same")

Enter number of items: 5
Enter key: 4
Enter value: 20
Enter key: 3
Enter value: 40
Enter key: 1
Enter value: 30
Enter key: 2
Enter value: 60
Enter key: 5
Enter value: 78
Values are not same

In [9]:
#9 ques Write a program to create two lists and generate a dictionary with keys from list1 and
# values from list2.
n = int(input("Enter number of elements: "))

list1 = []
list2 = []

print("Enter elements of list1")
for i in range(n):
    list1.append(input())

print("Enter elements of list2")
for i in range(n):
    list2.append(input())

d = {}

for i in range(n):
    d[list1[i]] = list2[i]

print("Dictionary =", d)

Enter number of elements: 4
Enter elements of list1
23
24
12
13
Enter elements of list2
3
12
34
2
Dictionary = {'23': '3', '24': '12', '12': '34', '13': '2'}